Repository StuPro-TOSCAna/TOSCAna, pull requests merged in 2018-03, with the labels that each got.

#594 Proper output
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/application/deployment/Deployment.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/application/deployment/ServiceHandler.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/filecreator/FileCreator.java
  server/src/main/resources/cloudFoundry/deployment_scripts/configureMysql.py
  server/src/main/resources/cloudFoundry/deployment_scripts/executeCommand.py
  server/src/main/resources/cloudFoundry/deployment_scripts/readCredentials.py
  server/src/main/resources/cloudFoundry/readme.txt
  server/src/test/java/org/opentosca/toscana/plugins/cloudfoundry/FileCreatorTest.java
  server/src/test/java/org/opentosca/toscana/plugins/cloudfoundry/ServiceTest.java
Labels: plugin/cloudfoundry

#613 Developer documentation for EffectiveModel
  docs/dev/adr/0000-use-markdown-architectural-decision-records.md
  docs/dev/adr/0001-model-for-transformations.md
  docs/dev/adr/0002-general-plugin-architecture.md
  docs/dev/adr/0003-lombok.md
  docs/dev/adr/0004-spring-framework.md
  docs/dev/adr/0005-springfox.md
  docs/dev/adr/0006-bash-script-generator.md
  docs/dev/adr/0007-library-for-cli.md
  docs/dev/adr/0007-plugin-cloudformation-cli.md
  docs/dev/adr/0008-kubernetes-end-to-end-tests.md
  docs/dev/adr/0009-cloudfoundry-cli.md
  docs/dev/adr/0010-use-docker-java.md
  docs/dev/adr/0011-put-integration-tests-in-seperate-folder.md
  docs/dev/adr/0012-cf-java-library.md
  docs/dev/adr/0013-aws-file-upload.md
  docs/dev/adr/0014-iterate-effectivemodel-with-visitor-pattern.md
  docs/dev/adr/0015-persist-to-filesystem.md
  docs/dev/adr/0017-implement-own-tosca-parser.md
  docs/dev/adr/index.md
  docs/dev/adr/template.md
  docs/dev/effective-model/effective-model.md
  docs/dev/model/code-templates.md
  docs/dev/model/custom-types.md
  docs/dev/model/effective-model.md
  docs/dev/model/img/effective-model.png
  docs/dev/model/img/servicegraph_construction.png
  docs/dev/model/img/servicegraph_normalization.png
  docs/dev/model/img/servicegraph_resolve-links.png
  docs/dev/model/img/uml_effective-model_simplified.png
  docs/dev/model/outlook.md
  docs/dev/model/servicegraph.md
  docs/dev/model/tosca-elements.md
  docs/dev/model/type-support.md
  mkdocs.yml
  server/src/main/java/org/opentosca/toscana/model/BaseToscaElement.java
  server/src/main/java/org/opentosca/toscana/model/DescribableElement.java
  server/src/main/java/org/opentosca/toscana/model/Parameter.java
  server/src/main/java/org/opentosca/toscana/model/artifact/Artifact.java
  server/src/main/java/org/opentosca/toscana/model/artifact/Repository.java
  server/src/main/java/org/opentosca/toscana/model/node/RootNode.java
  server/src/main/java/org/opentosca/toscana/model/operation/Operation.java
  server/src/main/java/org/opentosca/toscana/model/relation/RootRelationship.java
Labels: docs

#623 Add user documentation: install and configure
  README.md
  docs/user/docker.md
  docs/user/getting-started.md
  mkdocs.yml
Labels: docs

#619 Add javadoc in model and converter
  server/src/integration/java/org/opentosca/toscana/plugins/kubernetes/docker/image/ExportingImageBuilderIT.java
  server/src/main/java/org/opentosca/toscana/core/csar/CustomTypeInjector.java
  server/src/main/java/org/opentosca/toscana/core/csar/EntrypointDetector.java
  server/src/main/java/org/opentosca/toscana/core/parse/converter/IntrinsicFunctionResolver.java
  server/src/main/java/org/opentosca/toscana/core/parse/converter/KeyReflector.java
  server/src/main/java/org/opentosca/toscana/core/parse/converter/LinkResolver.java
  server/src/main/java/org/opentosca/toscana/core/parse/converter/ParameterConverter.java
  server/src/main/java/org/opentosca/toscana/core/parse/converter/ScalarTypeConverter.java
  server/src/main/java/org/opentosca/toscana/core/parse/converter/TypeConverter.java
  server/src/main/java/org/opentosca/toscana/core/parse/converter/TypeWrapper.java
  server/src/main/java/org/opentosca/toscana/core/parse/converter/util/NodeTypeResolver.java
  server/src/main/java/org/opentosca/toscana/core/parse/converter/util/ToscaStructure.java
  server/src/main/java/org/opentosca/toscana/core/parse/converter/util/TypeResolver.java
  server/src/main/java/org/opentosca/toscana/core/parse/model/CollectionEntity.java
  server/src/main/java/org/opentosca/toscana/core/parse/model/Connection.java
  server/src/main/java/org/opentosca/toscana/core/parse/model/MappingEntity.java
  server/src/main/java/org/opentosca/toscana/core/parse/model/SequenceEntity.java
  server/src/main/java/org/opentosca/toscana/core/parse/model/ServiceGraph.java
  server/src/main/java/org/opentosca/toscana/core/transformation/logging/LogImpl.java
  server/src/main/java/org/opentosca/toscana/model/BaseToscaElement.java
  server/src/main/java/org/opentosca/toscana/model/EffectiveModel.java
  server/src/main/java/org/opentosca/toscana/model/EntityId.java
  server/src/main/java/org/opentosca/toscana/model/Parameter.java
  server/src/main/java/org/opentosca/toscana/model/datatype/NetworkInfo.java
  server/src/main/java/org/opentosca/toscana/model/datatype/PortInfo.java
  server/src/main/java/org/opentosca/toscana/model/datatype/PortSpec.java
  server/src/main/java/org/opentosca/toscana/model/datatype/SizeUnit.java
  server/src/main/java/org/opentosca/toscana/model/util/RequirementKey.java
  server/src/main/java/org/opentosca/toscana/model/util/ToscaKey.java
Labels: docs

#618 Add user documentation about TOSCA support
  docs/dev/adr/0016-not-supporting-type-definitions.md
  docs/user/tosca-support.md
  docs/user/toscana-types.md
  mkdocs.yml
Labels: docs

#614 CloudFormation Readme
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationFileCreator.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationLifecycle.java
  server/src/main/resources/cloudformation/cloudformation-readme.md
Labels: plugin/cloudformation

#627 [WIP] Add CloudFormation dev documentation
  docs/dev/plugins/cloudformation/cloudformation-basics.md
  docs/dev/plugins/cloudformation/cloudformation-transformation.md
  docs/dev/plugins/cloudformation/cloudformation.md
  docs/dev/plugins/cloudformation/mapping.md
Labels: docs, plugin/cloudformation

#625 WebApp spring clean up
  app/src/app/api/api.module.ts
  app/src/app/api/api/transformations.service.ts
  app/src/app/api/index.ts
  app/src/app/app.component.html
  app/src/app/app.component.scss
  app/src/app/app.component.ts
  app/src/app/app.module.ts
  app/src/app/components/csar-item/csar-item.component.ts
  app/src/app/components/csar-sidebar/csar-sidebar.component.html
  app/src/app/components/csar-sidebar/csar-sidebar.component.scss
  app/src/app/components/csar-sidebar/main-view.component.ts
  app/src/app/components/csar-sub-item/csar-menu-sub-items.component.html
  app/src/app/components/csar-sub-item/csar-menu-sub-items.component.scss
  app/src/app/components/csar-sub-item/csar-menu-sub-items.component.ts
  app/src/app/components/csar-view/csar-view.component.html
  app/src/app/components/csar-view/csar-view.component.ts
  app/src/app/components/log/log.component.ts
  app/src/app/components/message/message.component.scss
  app/src/app/components/message/message.component.ts
  app/src/app/components/transformation-creator/new-transformation-modal.component.ts
  app/src/app/components/transformation-creator/transformation-creator.component.html
  app/src/app/components/transformation-creator/transformation-creator.component.scss
  app/src/app/components/transformation-view/transformation-view.component.html
  app/src/app/components/transformation-view/transformation-view.component.ts
  app/src/app/components/transformations-inputs/transformations-inputs.component.html
  app/src/app/components/transformations-inputs/transformations-inputs.component.scss
  app/src/app/components/transformations-inputs/transformations-inputs.component.ts
  app/src/app/handler/route/route.service.spec.ts
  app/src/app/helper/fake-backend.ts
  app/src/app/helper/helper.ts
  app/src/app/model/csar.ts
  app/src/app/model/transformation.ts
  app/src/app/modules/routing/csar.resolver.ts
  app/src/app/modules/routing/routing.module.ts
  app/src/app/services/csar.service.ts
  app/src/app/services/health.service.ts
  app/src/app/services/message.service.ts
  app/src/app/services/platforms.service.ts
  app/src/app/services/route.service.ts
  app/src/app/services/transformations.service.ts
  app/src/assets/.gitkeep
Labels: webapp

#593 Implement the Java NodeTypes
  server/pom.xml
  server/src/integration/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationExpressIT.java
  server/src/integration/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationIT.java
  server/src/integration/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationJavaIT.java
  server/src/integration/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationLampIT.java
  server/src/integration/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationLampMultiNodeIT.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/handler/OperationHandler.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/mapper/JavaRuntimeMapper.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/CheckModelNodeVisitor.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/CheckModelRelationshipVisitor.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/CloudFormationVisitorExtension.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/PrepareModelNodeVisitor.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/PrepareModelRelationshipVisitor.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/TransformModelNodeVisitor.java
  server/src/test/resources/csars/yaml/valid/task-translator/translator/task-translator.jar
Labels: plugin/cloudformation

#606 Reformatting Outputs of the CLI
  cli/src/main/java/org/opentosca/toscana/cli/ApiController.java
  cli/src/main/java/org/opentosca/toscana/cli/CliMain.java
  cli/src/main/java/org/opentosca/toscana/cli/commands/AbstractApiCall.java
  cli/src/main/java/org/opentosca/toscana/cli/commands/AbstractCommand.java
  cli/src/main/java/org/opentosca/toscana/cli/commands/ToscanaHelp.java
  cli/src/main/java/org/opentosca/toscana/cli/commands/transformation/TransformationInput.java
Labels: CLI

#631 All in one download script
  app/package.json
  app/src/app/components/transformation-view/transformation-view.component.html
  app/src/app/components/transformation-view/transformation-view.component.ts
  app/yarn.lock
  node_modules/.yarn-integrity
  node_modules/@types/file-saver/LICENSE
  node_modules/@types/file-saver/README.md
  node_modules/@types/file-saver/index.d.ts
  node_modules/@types/file-saver/package.json
  package.json
  yarn.lock
Labels: webapp

#616 Add dev documentation
  docs/dev/adr/0012-cloudfoundry-java-library.md
  docs/dev/adr/0018-cloudfoundry-no-deployment-in-runtime.md
  docs/dev/adr/0019-cloudfoundry-deploymentscripts.md
  docs/dev/plugins/cloudFoundry/Basics.md
  docs/dev/plugins/cloudFoundry/CloudFoundryPlugin_Basics.md
  docs/dev/plugins/cloudFoundry/CloudFoundry_Planning.md
  docs/dev/plugins/cloudFoundry/Deploying_Cloud_Foundry/deploy-cf-bosh-lite.md
  docs/dev/plugins/cloudFoundry/Deploying_Cloud_Foundry/deploy-cf-pcf-dev.md
  docs/dev/plugins/cloudFoundry/How_add_new_Node_Types.md
  docs/dev/plugins/cloudFoundry/Known_challenges.md
  docs/dev/plugins/cloudFoundry/Python_Scripts_Overview.md
  docs/dev/plugins/cloudFoundry/Script-Overview.md
  docs/dev/plugins/cloudFoundry/Supported_Node_Types.md
  docs/dev/plugins/cloudFoundry/Transformation_Process.md
  docs/dev/plugins/cloudFoundry/Transformation_example.md
  docs/dev/plugins/cloudFoundry/img/CF_TransformationExample.001.png
  docs/dev/plugins/cloudFoundry/img/CF_TransformationExample.002.png
  docs/dev/plugins/cloudFoundry/img/CF_TransformationExample.003.png
  mkdocs.yml
  server/src/integration/java/org/opentosca/toscana/plugins/cloudfoundry/CloudFoundryLampIT.java
  server/src/integration/java/org/opentosca/toscana/plugins/cloudfoundry/CloudFoundryLampITinput.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/CloudFoundryLifecycle.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/filecreator/FileCreator.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/visitor/NodeTypeCheck.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/visitor/NodeVisitor.java
  server/src/main/resources/cloudFoundry/readme.txt
  server/src/test/java/org/opentosca/toscana/plugins/cloudfoundry/CloudFoundryPluginTest.java
  server/src/test/java/org/opentosca/toscana/plugins/cloudfoundry/FileCreatorTest.java
  server/src/test/java/org/opentosca/toscana/plugins/cloudfoundry/ServiceTest.java
Labels: docs, plugin/cloudfoundry

#633 Add user documentation
  docs/user/webapp/img/add_csar_button.png
  docs/user/webapp/img/add_new_csar_bad.png
  docs/user/webapp/img/add_transformation_enter_inputs.png
  docs/user/webapp/img/add_transformation_for_csar.png
  docs/user/webapp/img/add_transformation_select_platform.png
  docs/user/webapp/img/delete_csar.png
  docs/user/webapp/img/delete_transformation.png
  docs/user/webapp/img/start_page.png
  docs/user/webapp/img/topbar.png
  docs/user/webapp/img/view_csars.png
  docs/user/webapp/img/view_transformation.png
  docs/user/webapp/webapp.md
  mkdocs.yml
Labels: webapp

#639 Documentation for core component
  docs/c4/system-level.png
  docs/dev/core/architecture.md
  docs/dev/core/core.md
  docs/dev/core/img/core-class-diagram.png
  docs/dev/core/img/core-design.png
  docs/dev/core/img/core-domain-model.png
  docs/dev/core/img/transformation-state.png
  docs/dev/model/outlook.md
  docs/index.md
  mkdocs.yml
Labels: docs

#634 Update of the CLI documents
  docs/dev/adr/0020-library-for-cli.md
  docs/dev/cli/0001-library-for-cli.md
  docs/dev/cli/cli-architecture.md
  docs/dev/cli/cli-commands.md
  docs/dev/cli/img/cli_class_diagram.png
  mkdocs.yml
Labels: CLI, docs

#630 Add Cloud Foundry Userguide
  docs/user/plugins/cloudFoundry/cloud-foundry-plugin.md
  docs/user/plugins/cloudFoundry/img/artifact-app.png
  docs/user/plugins/cloudFoundry/img/artifact-output.png
  docs/user/plugins/cloudFoundry/img/artifact-overview.png
  docs/user/plugins/cloudFoundry/img/artifact-scripts.png
  docs/user/plugins/cloudFoundry/img/inputs.png
  mkdocs.yml
Labels: docs, plugin/cloudfoundry

#645 Update ADR for cloudformation
  docs/dev/adr/0013-aws-file-upload.md
  docs/dev/adr/0021-use-cloudformation-builder.md
  mkdocs.yml
Labels: docs, plugin/cloudformation

#629 Add additional user and developer documentation
  docs/dev/plugins/cloudformation/architecture.md
  docs/dev/plugins/cloudformation/basics/cloudformation-basics.md
  docs/dev/plugins/cloudformation/basics/cloudformation-builder.md
  docs/dev/plugins/cloudformation/cloudformation-transformation.md
  docs/dev/plugins/cloudformation/cloudformation.md
  docs/dev/plugins/cloudformation/deployment/deployment-workflow.md
  docs/dev/plugins/cloudformation/deployment/img/deployment-step-0.jpg
  docs/dev/plugins/cloudformation/deployment/img/deployment-step-1.jpg
  docs/dev/plugins/cloudformation/deployment/img/deployment-step-2.jpg
  docs/dev/plugins/cloudformation/deployment/img/deployment-step-3.jpg
  docs/dev/plugins/cloudformation/deployment/img/deployment-step-4.jpg
  docs/dev/plugins/cloudformation/deployment/img/deployment-step-5.jpg
  docs/dev/plugins/cloudformation/deployment/target-artifact.md
  docs/dev/plugins/cloudformation/development-notes/extending-cloudformation.md
  docs/dev/plugins/cloudformation/img/architecture-lucidchart.png
  docs/dev/plugins/cloudformation/overview.md
  docs/dev/plugins/cloudformation/transformation/img/lamp-example-cloudformation-stack.jpg
  docs/dev/plugins/cloudformation/transformation/img/lamp-example-tosca-model.jpg
  docs/dev/plugins/cloudformation/transformation/supported-types.md
  docs/dev/plugins/cloudformation/transformation/transformation-examples.md
  docs/dev/plugins/cloudformation/transformation/transformation-workflow.md
  docs/user/plugins/cloudformation/cloudformation-readme.md
  docs/user/plugins/cloudformation/requirements.md
  mkdocs.yml
Labels: docs, plugin/cloudformation
