Repository StuPro-TOSCAna/TOSCAna, pull requests merged in 2018-02, with the labels that each got.

#529 Fix wrong operation variable key
  server/src/main/java/org/opentosca/toscana/core/parse/converter/ScalarTypeConverter.java
  server/src/main/java/org/opentosca/toscana/model/operation/OperationVariable.java
Labels: bug, model

#528 Write transformation related log entries to transformation log
  server/src/main/java/org/opentosca/toscana/core/csar/Csar.java
  server/src/main/java/org/opentosca/toscana/core/csar/CsarImpl.java
  server/src/main/java/org/opentosca/toscana/core/csar/CustomTypeInjector.java
  server/src/main/java/org/opentosca/toscana/core/csar/EntrypointDetector.java
  server/src/main/java/org/opentosca/toscana/core/parse/model/Entity.java
  server/src/main/java/org/opentosca/toscana/core/transformation/TransformationFilesystemDao.java
  server/src/main/java/org/opentosca/toscana/model/EffectiveModel.java
  server/src/main/java/org/opentosca/toscana/model/EffectiveModelFactory.java
  server/src/test/java/org/opentosca/toscana/core/transformation/TransformationDaoUnitTest.java
  server/src/test/java/org/opentosca/toscana/core/transformation/TransformationFilesystemDaoTest.java
Labels: bug, core

#532 Improve script creation
  server/src/integration/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationLampIT.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationFileCreator.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationLifecycle.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationModule.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationPlugin.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/TransformModelNodeVisitor.java
  server/src/test/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationFileCreatorTest.java
Labels: enhancement, plugin/cloudformation

#547 Fix task-translator template
  server/src/test/resources/csars/yaml/valid/task-translator.csar
  server/src/test/resources/csars/yaml/valid/task-translator/template.yaml
Labels: bug

#544 Fix input form not showing up on platform select
  app/src/app/app.component.ts
  app/src/app/components/csar-sub-item/csar-sub-item.component.ts
  app/src/app/components/input/input.component.ts
  app/src/app/components/new-transformation-modal/new-transformation-modal.component.ts
  app/src/app/components/transformation-view/transformation-view.component.ts
  app/src/app/handler/route/route.service.ts
  app/src/app/providers/transformations/transformations.provider.ts
Labels: bug, webapp

#518 Database environment variables recognition
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/CloudFoundryLifecycle.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/FileCreator.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/application/deployment/Deployment.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/visitors/PrepareVisitor.java
  server/src/main/resources/cloudFoundry/deployment_scripts/configureMysql.py
  server/src/main/resources/cloudFoundry/deployment_scripts/readCredentials.py
  server/src/test/java/org/opentosca/toscana/plugins/cloudfoundry/DeploymentTest.java
  server/src/test/java/org/opentosca/toscana/plugins/cloudfoundry/FileCreatorTest.java
Labels: plugin/cloudfoundry

#554 Prevent duplicated csars
  app/src/app/app.module.ts
  app/src/app/components/main-view/main-view.component.html
  app/src/app/components/main-view/main-view.component.scss
  app/src/app/components/main-view/main-view.component.ts
Labels: webapp

#560 Fix resource loading in TypeInjector
  server/src/main/java/org/opentosca/toscana/core/csar/CustomTypeInjector.java
Labels: bug

#559 Hide add transformation button if csar parsing failed
  app/src/app/components/csar-item/csar-item.component.html
  app/src/app/model/csar.ts
Labels: webapp

#561 Optimize layout
  app/src/app/app.component.html
  app/src/app/app.component.scss
  app/src/styles.scss
Labels: webapp

#562 Set api url via a environment variable
  app/package.json
  app/src/app/app.module.ts
  app/src/app/components/log/log.component.scss
  app/src/app/components/transformation-view/transformation-view.component.ts
  app/src/environments/environment.prod.ts
  app/src/environments/environment.ts
Labels: webapp

#563 Fix that add transformation button is hidden
  app/src/app/model/csar.ts
Labels: bug, webapp

#577 Adapt Lamp Models using getEnv
  server/src/integration/java/org/opentosca/toscana/plugins/cloudfoundry/CloudFoundryLampIT.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/CloudFoundryLifecycle.java
  server/src/test/java/org/opentosca/toscana/plugins/cloudfoundry/CloudFoundryPluginTest.java
  server/src/test/resources/cloudFoundry/lamp-manifest.yml
  server/src/test/resources/csars/yaml/valid/lamp-input.csar
  server/src/test/resources/csars/yaml/valid/lamp-input/my_app/configure_myphpapp.sh
  server/src/test/resources/csars/yaml/valid/lamp-input/my_app/create_myphpapp.sh
  server/src/test/resources/csars/yaml/valid/lamp-input/my_app/index.php
  server/src/test/resources/csars/yaml/valid/lamp-input/my_app/mysql-credentials.php
  server/src/test/resources/csars/yaml/valid/lamp-input/template.yaml
  server/src/test/resources/csars/yaml/valid/lamp-multinode.csar
  server/src/test/resources/csars/yaml/valid/lamp-multinode/template.yaml
  server/src/test/resources/csars/yaml/valid/lamp-noinput.csar
  server/src/test/resources/csars/yaml/valid/lamp-noinput/my_app/configure_myphpapp.sh
  server/src/test/resources/csars/yaml/valid/lamp-noinput/my_app/create_myphpapp.sh
  server/src/test/resources/csars/yaml/valid/lamp-noinput/my_app/index.php
  server/src/test/resources/csars/yaml/valid/lamp-noinput/my_app/mysql-credentials.php
  server/src/test/resources/csars/yaml/valid/lamp-noinput/template.yaml
  server/src/test/resources/csars/yaml/valid/task-translator.csar
  server/src/test/resources/csars/yaml/valid/task-translator/template.yaml
Labels: csar, important, test

#578 Set platform properties to required
  server/src/main/java/org/opentosca/toscana/plugins/cloudfoundry/CloudFoundryPlugin.java
Labels: plugin/cloudfoundry

#533 Map disk_size of ComputeCapability
  server/pom.xml
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/mapper/CapabilityMapper.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/util/MappingUtils.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/TransformModelNodeVisitor.java
Labels: plugin/cloudformation

#582 Fix various AWS bugs
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationFileCreator.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/TransformModelNodeVisitor.java
Labels: plugin/cloudformation

#581 Add logo and favicon
  app/src/app/app.component.html
  app/src/app/app.component.scss
  app/src/assets/logo.png
  app/src/favicon.ico
Labels: webapp

#519 Support Express Model
  server/src/integration/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationExpressIT.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationFileCreator.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationLifecycle.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationModule.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/util/OperationHandler.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/util/StackUtils.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/CheckModelNodeVisitor.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/CheckModelRelationshipVisitor.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/CloudFormationVisitorExtension.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/PrepareModelNodeVisitor.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/TransformModelNodeVisitor.java
  server/src/main/resources/cloudformation/files/util/create-nodejs.sh
Labels: plugin/cloudformation

#590 Open ports to grant access to WebApp
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/PrepareModelNodeVisitor.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/TransformModelNodeVisitor.java
Labels: bug, plugin/cloudformation

#595 Cast Requirement to JavaRuntimeRequirement
  server/src/main/java/org/opentosca/toscana/model/node/custom/JavaApplication.java
Labels: bug, model

#583 Support environment variables
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationFileCreator.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationLifecycle.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationModule.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/handler/EnvironmentHandler.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/handler/OperationHandler.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/util/CloudFormationScript.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/util/FileUpload.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/TransformModelNodeVisitor.java
  server/src/main/java/org/opentosca/toscana/plugins/scripts/BashScript.java
  server/src/test/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationFileCreatorTest.java
Labels: enhancement, plugin/cloudformation

#589 Execute sql scripts added as artifacts
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationFileCreator.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/util/StackUtils.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/CloudFormationVisitorExtension.java
  server/src/main/java/org/opentosca/toscana/plugins/cloudformation/visitor/TransformModelNodeVisitor.java
  server/src/test/java/org/opentosca/toscana/plugins/cloudformation/CloudFormationLifecycleTest.java
Labels: plugin/cloudformation
